---
import Layout from "../layouts/Layout.astro";
import HeaderPaginas from "../components/HeaderPaginas.astro";
import { Image } from "astro:assets";
import logoHubspot from "../assets/integraciones/logo-hubspot.png";
import logoShopify from "../assets/integraciones/logo-shopify.png";
import logoAws from "../assets/integraciones/logo-aws.png";
import logoZoho from "../assets/integraciones/logo-zoho.png";
import logoWooComerce from "../assets/integraciones/logo-woo-comerce.png";
import logoTwilio from "../assets/integraciones/logo-twilio.png";
import logoFacebook from "../assets/integraciones/logo-facebook.png";
import logoGoole from "../assets/integraciones/logo-google.png";
import logoInstagram from "../assets/integraciones/logo-instagram.png";
import logoSiesa from "../assets/integraciones/logo-siesa.png";
import logoSap from "../assets/integraciones/logo-sap.png";
import logoDynamics from "../assets/integraciones/logo-dynamics.png";
import graficasIlustracion from "../assets/integraciones/graficas-ilustracion.png";
import Boton from "../components/Boton.astro";
---

<Layout>
  <HeaderPaginas
    title="Integraciones"
    description="La Integración de sistemas de software es una necesidad muy común entre las compañías, poner a interactuar entre si varios sistemas como el ERP, el CRM, la Tienda en Línea y la Telefonía, resultan de vital importancia para mejorar la productividad. En Agil3 somos expertos en realizar estas conexiones, garantizado la estabilidad en el intercambio de información entre el origen y destino de la información."
    images={[
      "../src/assets/integraciones/integraciones-imagen-1.png",
      "../src/assets/integraciones/integraciones-imagen-2.png",
      "../src/assets/integraciones/integraciones-imagen-3.png",
    ]}
    backgroundColor="bg-gradient-to-br from-orange-300 to-naranja"
    align="left"
  />

  <section class="flex flex-col items-center">
    <h2
      class="text-grisclaro sm:text-5xl text-4xl font-medium text-center sm:mt-24 mt-16  mb-4"
    >
      ¿Plataformas <span class="text-naranja">Integradas</span>
    </h2>

    <p
      class="text-grisclaro sm:text-2xl text-lg sm:text-center mt-4 sm:max-w-[60%] max-w-[85%]"
    >
      En Agil3 tenemos la capacidad de interconectar diversas fuentes de datos,
      cualquiera de estos sistemas (entre otros) pueden convertirse en origen o
      destino de información
    </p>

    <div
      class="flex sm:flex-row flex-col bg-gradient-to-b from-[#FFECDF] to-[#FFC69F]
                    rounded-2xl sm:p-16 px-4 py-16 sm:space-x-24 sm:space-y-0 space-y-16 sm:mt-16 mt-8 max-w-[95%]"
    >
      <div class="space-y-4 flex flex-col">
        <h2 class="text-4xl text-grisclaro font-medium text-center">
          Cloud <span class="text-naranja">Services</span>
        </h2>
        <img
          src="../src/assets/integraciones/icono-linea.svg"
          alt="Linea grafica"
          class="h-16"
        />
        <div class="grid grid-cols-3 gap-2">
          <Image
            src={logoHubspot}
            alt={"Imagen logo HubSpot"}
            class="transition-transform duration-300 hover:scale-105"
          />
          <Image
            src={logoShopify}
            alt={"Imagen logo Shopyfy"}
            class="transition-transform duration-300 hover:scale-105"
          />
          <Image
            src={logoAws}
            alt={"Imagen logo AWA"}
            class="transition-transform duration-300 hover:scale-105"
          />
          <Image
            src={logoZoho}
            alt={"Imagen logo Zoho"}
            class="transition-transform duration-300 hover:scale-105"
          />
          <Image
            src={logoWooComerce}
            alt={"Imagen logo Woo Comerce"}
            class="transition-transform duration-300 hover:scale-105"
          />
          <Image
            src={logoTwilio}
            alt={"Imagen logo Twilio"}
            class="transition-transform duration-300 hover:scale-105"
          />
          <Image
            src={logoFacebook}
            alt={"Imagen logo Facebook"}
            class="transition-transform duration-300 hover:scale-105"
          />
          <Image
            src={logoGoole}
            alt={"Imagen logo Google"}
            class="transition-transform duration-300 hover:scale-105"
          />
          <Image
            src={logoInstagram}
            alt={"Imagen logo Instagram"}
            class="transition-transform duration-300 hover:scale-105"
          />
        </div>
      </div>

      <div class="space-y-4 flex flex-col">
        <h2 class="text-4xl text-grisclaro font-medium text-center">
          Sistemas <span class="text-naranja">ERP</span>
        </h2>
        <img
          src="../src/assets/integraciones/icono-linea.svg"
          alt="Linea grafica"
          class="h-16"
        />
        <div class="grid grid-cols-3 gap-2">
          <Image
            src={logoSiesa}
            alt={"Imagen logo Siesa"}
            class="transition-transform duration-300 hover:scale-105"
          />
          <Image
            src={logoSap}
            alt={"Imagen logo SAP"}
            class="transition-transform duration-300 hover:scale-105"
          />
          <Image
            src={logoDynamics}
            alt={"Imagen logo Dynamics"}
            class="transition-transform duration-300 hover:scale-105"
          />
        </div>
      </div>
    </div>
  </section>

  
  <section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
      <path
        fill="#F5F5F5"
        fill-opacity="1"
        d="M0,160L120,144C240,128,480,96,720,96C960,96,1200,128,1320,144L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
      ></path>
    </svg>

    <div class="bg-gradient-to-b from-[#F5F5F5] to-white pb-16">
      <div
        class="flex sm:flex-row flex-col justify-between sm:max-w-[70%] max-w-[90%] mx-auto gap-12"
      >
        <div
          class="sm:max-w-[40%] px-4 sm:pt-0 pt-8 sm:space-y-16 space-y-8 flex flex-col items-center"
        >
          <h2
            class="text-grisclaro sm:text-5xl sm:text-left text-center text-4xl font-medium leading-tight"
          >
            <span class="text-naranja">Automatizar</span> Procesos es la Clave
          </h2>

          <p class="text-lg text-grisclaro">
            Las integraciones son pieza clave en la la automatización de los
            procesos de nuestros clientes, esto conduce a un significativo
            aumento de productividad, debido a que procesos que normalmente se
            realizaban de manera manual ahora son automáticos, permitiendo
            ahorro de tiempo, dinero y recursos que ahora se invierten en
            tareas estratégicas para la empresa.
          </p>
        </div>

        <div
          class="sm:flex sm:items-start sm:justify-start flex items-center justify-center"
        >
          <Image
            src={graficasIlustracion}
            alt={"Ilustracion estadisticas"}
            class="sm:w-auto w-64"
          />
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="text-grisclaro sm:text-5xl text-4xl font-medium text-center">
      Casos de <span class="text-naranja">éxito</span>
    </h2>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
      <path
        fill="#FFDDC5"
        fill-opacity="1"
        d="M0,160L120,144C240,128,480,96,720,96C960,96,1200,128,1320,144L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
      ></path>
    </svg>

    <div class="bg-gradient-to-b from-[#FFDDC5] to-white">
      <div
        class="grid grid-cols-1 lg:grid-cols-2 items-stretch sm:max-w-5xl max-w-[90%] mx-auto"
      >
        <div
          class="flex flex-col items-center sm:border-r-2 border-naranja sm:pr-24 gap-12"
        >
          <img
            src="../src/assets/integraciones/logo-riopaila.png"
            alt="Logotipo Balinera S.A"
            class="w-40"
          />
          <p class="text-grisclaro text-lg">
            En <strong>Riopaila Castilla</strong> se realizó la integración entre <strong>Zoho CRM,</strong> que
            administra información relevante de Proveedores de Caña y el
            <strong>sistema SAP</strong> más la <strong>Aplicación Móvil de servicio Agrícola.</strong> <br><br>
            
            <strong>Con esta integración se logro:</strong> 
          </p>

          <ul class="space-y-4 text-lg text-grisclaro">
              <li>• Enviar de manera automática documentos de Comerciales y Contables al ERP SIESA UNOEE. </li> 
              <li>• Potencializar la fuerza de ventas dando acceso en tiempo real al inventario de productos, y permitiendo crear pedidos de venta en línea.</li>
              <li>• Alimentar los indicadores de gestión con datos de múltiplesplataformas y así tener información idónea poder de decisión.</li>
          </ul>
        </div>

        <div class="flex flex-col items-center sm:pl-24 gap-12 sm:mt-0 mt-16">
          <img
            src="../src/assets/integraciones/logo-cosmoagro.png"
            alt="Logotipo Asocaña"
            class="w-40"
          />
          <p class="text-grisclaro text-lg">
            Cosmoagro S.A se beneficio por integrar múltiples plataformas en sus procesos corporativos,
            tales como AWS (Amazon Web Services), WhastApp,  Google Sheets y el ERP SIESA UNOEE. <br><br>

            <strong>Con esta integración se logro:</strong>
            <ul class="space-y-4 text-lg text-grisclaro">
              <li>• Eliminar la redigitación de información </li> 
              <li>• Reducir el error humano introducido por el reprocesamiento. </li>
              <li>• Publicar en tiempo real información vital para la gestión de los proveedores de caña.</li>
          </ul>
          </p>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center my-40">
      <Boton text="Contáctanos" />
    </div>
  </section>

  
</Layout>
