---
import Layout from "../layouts/Layout.astro";
import HeaderPaginas from "../components/HeaderPaginas.astro";
import { Image } from "astro:assets";

// Imports de las rutas para usarlas en los componentes <Image>
import logoSiesa from "../assets/integraciones/logo-siesa.png";
import logoSap from "../assets/integraciones/logo-sap.png";
import logoHubspot from "../assets/integraciones/logo-hubspot.png";
import logoShopify from "../assets/integraciones/logo-shopify.png";
import logoAws from "../assets/integraciones/logo-aws.png";
import logoDynamics from "../assets/integraciones/logo-dynamics.png";
import logoTusdatos from "../assets/integraciones/logo-tusdatos.png";
import logoTransunion from "../assets/integraciones/logo-transunion.png";
import logoDatacredito from "../assets/integraciones/logo-datacredito.png";
import logoProtecdata from "../assets/integraciones/logo-protecdata.png";

import graficasIlustracion from "../assets/integraciones/graficas-ilustracion.png";
import Boton from "../components/Boton.astro";
---

<Layout>
  <HeaderPaginas
    title="Integraciones"
    description="La Integración de sistemas de software es una necesidad muy común entre las compañías, poner a interactuar entre si varios sistemas como el ERP, el CRM, la Tienda en Línea y la Telefonía, resultan de vital importancia para mejorar la productividad. En Agil3 somos expertos en realizar estas conexiones, garantizado la estabilidad en el intercambio de información entre el origen y destino de la información."
    images={[
      "../src/assets/integraciones/integraciones-imagen-1.png",
      "../src/assets/integraciones/integraciones-imagen-2.png",
      "../src/assets/integraciones/integraciones-imagen-3.png",
    ]}
    backgroundColor="bg-gradient-to-br from-orange-300 to-naranja"
    align="left"
  />
  
  <!-- Inicio de seccion -->
  <section class="flex flex-col items-center">

    <!-- Titulo-->
    <h2
      class="text-grisclaro sm:text-5xl text-4xl font-medium text-center sm:mt-24 mt-16 mb-4 max-w-[85%]"
    >
      Plataformas <span class="text-naranja">Integradas</span>
    </h2>

    <!-- Parrafo-->
    <p
      class="text-grisclaro sm:text-2xl text-lg sm:text-center mt-4 sm:max-w-[60%] max-w-[85%]"
    >
      En Agil3 tenemos la capacidad de interconectar diversas fuentes de datos,
      cualquiera de estos sistemas (entre otros) pueden convertirse en origen o
      destino de información
    </p>

    <!-- Cuadro con los logos de las integraciones-->
    <div
      class="flex sm:flex-row flex-col bg-gradient-to-b from-[#FFECDF] to-[#FFC69F]
                    rounded-2xl sm:p-16 px-4 py-16 sm:space-x-24 sm:space-y-0 space-y-16 sm:mt-16 mt-8 max-w-[95%]"
    >
      <div class="space-y-4 flex flex-col">

        <!-- Titulo -->
        <h2 class="text-4xl text-grisclaro font-medium text-center">
          Servicios
        </h2>

        <!-- Linea decoracion -->
        <img
          src="../src/assets/integraciones/icono-linea.svg"
          alt="Linea grafica"
          class="h-16"
        />

        <!-- Logos integraciones -->
        <div class="max-w-7xl mx-auto grid gap-6">

          <!-- Primera fila: 2 columnas grandes -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

            <div id="cuadro-logos" class="bg-white p-8 rounded-lg flex items-center justify-center">
              <Image src={logoSiesa} alt={"Logotipo Siesa"} class="" />
            </div>

            <div id="cuadro-logos" class="bg-white p-8 rounded-lg flex items-center justify-center">
              <Image src={logoSap} alt={"Logotipo Sap"} />
            </div>

          </div>

          <!-- Segunda fila: 4 columnas -->
          <div class="grid grid-cols-2 md:grid-cols-4 gap-6">

            <div id="cuadro-logos" class="bg-white p-6 rounded-lg flex items-center justify-center">
              <Image src={logoHubspot} alt={"Logotipo Siesa"} />
            </div>

            <div id="cuadro-logos" class="bg-white p-6 rounded-lg flex items-center justify-center">
              <Image src={logoShopify} alt={"Logotipo Siesa"} />
            </div>

            <div id="cuadro-logos" class="bg-white p-6 rounded-lg flex items-center justify-center">
              <Image src={logoAws} alt={"Logotipo Siesa"} />
            </div>

            <div id="cuadro-logos" class="bg-white p-6 rounded-lg flex items-center justify-center">
              <Image src={logoDynamics} alt={"Logotipo Siesa"} />
            </div>

          </div>

          <!-- Tercera fila: 4 columnas -->
          <div class="grid grid-cols-2 md:grid-cols-4 gap-6">

            <div id="cuadro-logos" class="bg-white p-6 rounded-lg flex items-center justify-center">
              <Image src={logoTusdatos} alt={"Logotipo Siesa"} />
            </div>

            <div id="cuadro-logos" class="bg-white p-6 rounded-lg flex items-center justify-center">
              <Image src={logoTransunion} alt={"Logotipo Siesa"} />
            </div>

            <div id="cuadro-logos" class="bg-white p-6 rounded-lg flex items-center justify-center">
              <Image src={logoDatacredito} alt={"Logotipo Siesa"} />
            </div>

            <div id="cuadro-logos" class="bg-white p-6 rounded-lg flex items-center justify-center">
              <Image src={logoProtecdata} alt={"Logotipo Siesa"} />
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Curva circular -->
    <section>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
        <path
          fill="#F5F5F5"
          fill-opacity="1"
          d="M0,160L120,144C240,128,480,96,720,96C960,96,1200,128,1320,144L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
        ></path>
      </svg>

      <!-- Contenedor "Automatizar procesos es clave" -->
      <div class="bg-gradient-to-b from-[#F5F5F5] to-white pb-16">
        <div
          class="flex flex-col md:flex-col lg:flex-row justify-between sm:max-w-[70%] max-w-[90%] mx-auto gap-12"
        >
          <!--Contenedor titulo y parrafo -->
          <div
            class="lg:max-w-[40%] px-4 sm:pt-0 pt-8 sm:space-y-16 space-y-8 flex flex-col items-center"
          >
            <!-- Titulo -->
            <h2
              class="text-grisclaro sm:text-5xl lg:text-left md:text-center text-center text-4xl font-medium leading-tight"
            >
              <span class="text-naranja">Automatizar</span> Procesos es la Clave
            </h2>
            
            <!-- Parrafo -->
            <p class="text-lg text-grisclaro">
              Las integraciones son pieza clave en la la automatización de los
              procesos de nuestros clientes, esto conduce a un significativo
              aumento de productividad, debido a que procesos que normalmente se
              realizaban de manera manual ahora son automáticos, permitiendo
              ahorro de tiempo, dinero y recursos que ahora se invierten en
              tareas estratégicas para la empresa.
            </p>
            
            <!-- Boton mas informacion -->
            <div class="w-full flex justify-center lg:justify-start md:py-0 py-8">
              <Boton text="Mas informacion"/>
            </div>
            
          </div>

          <!--Contenedor imagen -->
          <div
            class="sm:flex lg:items-start lg:justify-start flex md:items-center items-center md:justify-center justify-center md:mt-16"
          >
            <!-- Imagen -->
            <Image
              src={graficasIlustracion}
              alt={"Ilustracion estadisticas"}
              class="lg:w-auto md:w-[60%] w-64"
            />
          </div>

        </div>
      </div>
    </section>

    <!--Inicio seccion casos de exito -->
    <section>

      <!-- Titulo -->
      <h2 class="text-grisclaro sm:text-5xl text-4xl font-medium text-center">
        Casos de <span class="text-naranja">éxito</span>
      </h2>

      <!-- Curva circular -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
        <path
          fill="#FFDDC5"
          fill-opacity="1"
          d="M0,160L120,144C240,128,480,96,720,96C960,96,1200,128,1320,144L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
        ></path>
      </svg>

      <!--Contenedor casos de exito -->
      <div class="bg-gradient-to-b from-[#FFDDC5] to-white">
        <div
          class="grid grid-cols-1 lg:grid-cols-2 items-stretch sm:max-w-5xl max-w-[90%] mx-auto"
        >
          <!--Caso 1-->
          <div
            class="flex flex-col items-center sm:border-r-2 border-naranja lg:pr-24 md:px-16 px-4 gap-12"
          > 
          
            <!--Imagen logotipo-->
            <img
              src="../src/assets/integraciones/logo-riopaila.png"
              alt="Logotipo Balinera S.A"
              class="w-40"
            />

            <!--Parrafo-->
            <p class="text-grisclaro text-lg">
              En <strong>Riopaila Castilla</strong> se realizó la integración entre
              <strong>Zoho CRM,</strong> que administra información relevante de
              Proveedores de Caña y el <strong>sistema SAP</strong> más la 
              <strong >Aplicación Móvil de servicio Agrícola.</strong>
              <br/><br/>

              <strong>Con esta integración se logro:</strong>
            </p>

            <ul class="space-y-4 text-lg text-grisclaro">
              <li>
                • Enviar de manera automática documentos de Comerciales y
                Contables al ERP SIESA UNOEE.
              </li>
              <li>
                • Potencializar la fuerza de ventas dando acceso en tiempo real
                al inventario de productos, y permitiendo crear pedidos de venta
                en línea.
              </li>
              <li>
                • Alimentar los indicadores de gestión con datos de
                múltiplesplataformas y así tener información idónea poder de
                decisión.
              </li>
            </ul>
          </div>

          <!--Caso 2-->
          <div class="flex flex-col items-center lg:pl-24 lg:pr-24 md:px-16 px-4 gap-12 lg:mt-0 mt-16">

            <!--Imagen logotipo-->
            <img
              src="../src/assets/integraciones/logo-cosmoagro.png"
              alt="Logotipo Asocaña"
              class="w-40"
            />

            <!--Parrafo-->
            <p class="text-grisclaro text-lg">
              Cosmoagro S.A se beneficio por integrar múltiples plataformas en
              sus procesos corporativos, tales como AWS (Amazon Web Services),
              WhastApp, Google Sheets y el ERP SIESA UNOEE. <br /><br />

              <strong>Con esta integración se logro:</strong>
              <ul class="space-y-4 text-lg text-grisclaro">
                <li>• Eliminar la redigitación de información</li>
                <li>
                  • Reducir el error humano introducido por el reprocesamiento.
                </li>
                <li>
                  • Publicar en tiempo real información vital para la gestión de
                  los proveedores de caña.
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>

      <!--Boton -->
      <div class="flex items-center justify-center lg:my-40 my-24">
        <Boton text="Contáctanos" />
      </div>

    </section>
  </section>
</Layout>

<!-- Animacion de hover cuadro de los logos de las integraciones -->
<style>

  #cuadro-logos {
  transition: transform 0.2s ease-in-out;
  }

  #cuadro-logos:hover {
  transform: scale(1.03);
  }

</style>
