---
import Boton from './Boton.astro';

interface Props {
  badge?: string;
  title: string;
  description: string[];
  image: string;
  buttonLabel: string;
}

const {
  badge,
  title,
  description,
  image,
  buttonLabel,
} = Astro.props;
---

<div class="bg-[#F5F5F5] rounded-lg overflow-hidden sm:max-w-[75%] max-w-[90%] items-center mx-auto my-12 shadow-md">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-0 items-stretch">
    
    <!-- Contenido izquierdo -->
    <div class="flex flex-col gap-8 sm:py-16 sm:pl-16 p-8 ">
      {badge && (
        <div class="inline-flex">
          <span class="bg-[#FFC69F] text-naranja px-4 py-1.5 rounded-full text-lg font-regular w-fit">
            {badge}
          </span>
        </div>
      )}

      <h2 class="text-3xl lg:text-4xl font-medium text-grisclaro">
        {title}
      </h2>

      <div class="space-y-4">
        {description.map((paragraph) => (
          <p class="text-grisclaro leading-relaxed text-lg">
            {paragraph}
          </p>
        ))}
      </div>

      <div class="pt-2">
        <Boton text={buttonLabel} />
      </div>
    </div>

    <!-- Imagen derecha -->
    <div class="flex lg:justify-end h-full">
      <img 
        src={image} 
        alt={title}
        class="w-full lg:max-w-sm h-full md:w-full object-cover sm:rounded-tr-2xl sm:rounded-br-2xl md:rounded-none shadow-lg"
      />
    </div>
  </div>
</div>